<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>R2 Online Minus12 MMORPG</title>
    <meta name="title" content="R2 Online Minus12 MMORPG">
    <meta property="og:type" content="website">
    <meta property="og:title" content="R2 Online - сервер Minus12">
    <meta property="og:url" content="https://minus12.ru">
    <meta property="og:image:width" content="250">
    <meta property="og:image:height" content="250">
    <meta http-equiv="content-language" content="ru">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="icon" class="js-site-favicon" type="image/png" href="{{ url_for('static', filename='image/favicon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

<style>
* {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        font-family: Arial, sans-serif;
    }

    .container {
        max-width: 400px;
        padding: 20px;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        text-align: center;
        height: 100%;
    }

    h1 {
        margin-bottom: 20px;
    }

    input[type="text"], input[type="password"] {
        display: block;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    button {
        padding: 10px 20px;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }

    body {
      color: white;
      font-family: sans-serif;
      display: flex;
      justify-content: center; /* Центрирование по горизонтали */
      align-items: center;     /* Центрирование по вертикали */
      min-height: 100vh;       /* Занимает всю высоту окна */
      background-color: #353535; /* Добавил фон для видимости /// изменил цвет для видимости */
    }

    .container {
      background-color: white;
      color: black;
      padding: 30px;
      border-radius: 5px;
      display: flex;
      flex-direction: column; /* Изменил на column для лучшего размещения */
      align-items: center;      /* Центрирование содержимого внутри контейнера */
      box-shadow: 0px 0px 10px rgba(0,0,0,0.1); /* Добавил тень */
      width: 300px;
        height: 100%;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%; /* Форма займет всю ширину контейнера */
    }

    input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      width: 100%; /* Input займет всю ширину формы */
      box-sizing: border-box; /* Чтобы padding не влиял на общую ширину */
    }

    button {
      padding: 10px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      width: 100%; /* Кнопка займет всю ширину формы */
    }
    .error {
      color: red;
    }

  </style>
</head>
<body>
{% if 'logged_in' in session %}
        <div class="container">
            <div>
                <form action="/cabinet" method="post">
                    <h1>Добро пожаловать в кабинет!</h1>
                    <p>Вы вошли под логином: {{ login }}</p>
                    <p>Ваш внутриигровой баланс: {{ shop_balance }}</p>
                </form>
            </div>
        </div>


    <div class="backgroundIndex" style="background-image: url(/static/image/main.jpg);">
        <div class="preloadHover"></div>
        <div class="header">
            <div class="headerMenu">
                <div class="headerMenuBlock">
                    <div class="headerMenuBlockLeft">
                        <div class="headerMenuBlockLeftElement">
                            <a href="/" class="headerMenuBlockLeftElementText">ГЛАВНАЯ</a>
                        </div>
                        <div class="headerMenuBlockLeftElement">
                            <a href="/news" class="headerMenuBlockLeftElementText">НОВОСТИ</a>
                        </div>
                        <div class="headerMenuBlockLeftElement">
                            <a href="/rules" class="headerMenuBlockLeftElementText">ПРАВИЛА</a>
                        </div>
                        <div class="headerMenuBlockLeftElement">
                            <a href="/support" class="headerMenuBlockLeftElementText">ПОДДЕРЖКА</a>
                        </div>
                    </div>
                </div>
                <div class="headerMenuBottomLine customHr"></div>
            </div>
        </div>
        <!--    rules-->
        <!--    rules-->
        <!--    rules-->

        <div class="rulesContainer">
            <h1>ПРАВИЛА</h1>
            <div class="rules">
                <div class="rules_type">
                    <h2 class="type_of_rules">1. Нарушения в чате</h2>
                    <div class="rule_naming">
                        <div class="naming violation">
                            Нарушение
                        </div>
                        <div class="naming sanction">
                            Наказание
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">1.1</div>
                        <div class="violation">
                            Использование ненормативной лексики, оскорблений, а так же текста сомнительного характера в сообщениях на усмотрение Администрации [С момента сообщений до обращения в поддержку не должно пройти более 12 часов]
                        </div>
                        <div class="sanction">
                            Блокировка отправки сообщений в игровой чат по градации количества нарушений: 2ч, 4ч, 8ч, 12ч, 24ч, 72ч, 168ч, 336ч, 720ч, 2160ч, 4320ч.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">1.2</div>
                        <div class="violation">
                            Частая отправка однообразных сообщений в чат (спам)
                        </div>
                        <div class="sanction">
                            Блокировка отправки сообщений в игровой чат сроком не менее 2 часов.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">1.3</div>
                        <div class="violation">
                            Оскорбление Администрации
                        </div>
                        <div class="sanction">
                            Блокировка отправки сообщений в игровой чат сроком не менее 12 часов, либо блокировка учетной записи до 30 суток.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">1.4</div>
                        <div class="violation">
                            Распространение информации о причастности к Администрации
                        </div>
                        <div class="sanction">
                            Блокировка учетной записи от 3 суток.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">1.5</div>
                        <div class="violation">
                            Распространение информации о стороннем ПО
                        </div>
                        <div class="sanction">
                            Блокировка учетной записи от 30 суток.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">1.6</div>
                        <div class="violation">
                            Распространение информации о покупке/продаже игровых ценностей за неигровые средства (в том числе крупы, украшения и т.д.)
                        </div>
                        <div class="sanction">
                            Блокировка отправки сообщений в игровой чат сроком не менее 24 часов.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">1.7</div>
                        <div class="violation">
                            Отправка сообщений в чат содержащих призыв покинуть проект или дескредитирующие концепцию сервера
                        </div>
                        <div class="sanction">
                            Блокировка отправки сообщений в игровой чат сроком не менее 30 суток.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">1.8</div>
                        <div class="violation">
                            Распространение информации о покупке/продаже персонажей, учетных записей (аккаунтов)
                        </div>
                        <div class="sanction">
                            Блокировка отправки сообщений в игровой чат сроком не менее 24 часов. [Может быть применено ко всем аккаунтам пользователя]
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">1.9</div>
                        <div class="violation">
                            Распространение информации о способах совершения нарушения игровых правил.
                        </div>
                        <div class="sanction">
                            Блокировка учетной записи сроком не менее 7 суток.
                        </div>
                    </div>
                </div>

                <div class="rules_type">
                    <h2 class="type_of_rules">2. Нарушения в никнейме/названии гильдии</h2>
                    <div class="rule_naming">
                        <div class="naming violation">
                            Нарушение
                        </div>
                        <div class="naming sanction">
                            Наказание
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">2.1</div>
                        <div class="violation">
                            Выдача себя за представителя Администрации
                        </div>
                        <div class="sanction">
                            Блокировка учетной записи от 30 суток в случае постоянных нарушений. Переименование персонажа на усмотрение Администрации.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">2.2</div>
                        <div class="violation">
                            Использование ненормативной лексики/оскорбления другого игрока в игровом никнейме
                        </div>
                        <div class="sanction">
                            Переименование персонажа на усмотрение Администрации.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">2.3</div>
                        <div class="violation">
                            Использование ненормативной лексики/оскорбления другого игрока в названии гильдии
                        </div>
                        <div class="sanction">
                            Переименование гильдии на усмотрение Администрации. Блокировка главы гильдии сроком до 3 суток при повторном нарушении.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">2.4</div>
                        <div class="violation">
                            Использование никнейма схожего с никнеймом другого игрока
                        </div>
                        <div class="sanction">
                            Переименование персонажа на усмотрение Администрации, а так же блокировка учетной записи до 30 суток.
                        </div>
                    </div>
                </div>

                <div class="rules_type">
                    <h2 class="type_of_rules">3. Использование ошибок игры и стороннего ПО</h2>
                    <div class="rule_naming">
                        <div class="naming violation">
                            Нарушение
                        </div>
                        <div class="naming sanction">
                            Наказание
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">3.1</div>
                        <div class="violation">
                            Использование игровых уязвимостей / ошибок игры
                        </div>
                        <div class="sanction">
                            Блокировка учетной записи от 7 суток до бессрочной.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">3.2</div>
                        <div class="violation">
                            Использование стороннего ПО, эмулирующее присутствие персонажа
                        </div>
                        <div class="sanction">
                            Бессрочная блокировка учетной записи.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">3.3</div>
                        <div class="violation">
                            Использование механических воздействий на элементы ПК с целью эмуляции присутствия персонажа
                        </div>
                        <div class="sanction">
                            Блокировка учетной записи от 7 суток до бессрочной.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">3.4</div>
                        <div class="violation">
                            Совершение действий, повлекших за собой сбой в работе игрового сервера или воздействующее на его стабильность
                        </div>
                        <div class="sanction">
                            Бессрочная блокировка учетной записи.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">3.5</div>
                        <div class="violation">
                            Замена данных, поступающих от сервера на клиент и обратно
                        </div>
                        <div class="sanction">
                            Блокировка учетной записи от 7 суток до бессрочной.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">3.6</div>
                        <div class="violation">
                            Модификация файлов игры (в том числе замена игровых моделей, звуков и т.д.)
                        </div>
                        <div class="sanction">
                            Блокировка учетной записи от 7 суток до бессрочной.
                        </div>
                    </div>
                </div>

                <div class="rules_type">
                    <h2 class="type_of_rules">4. Иное</h2>
                    <div class="rule_naming">
                        <div class="naming violation">
                            Нарушение
                        </div>
                        <div class="naming sanction">
                            Наказание
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">4.1</div>
                        <div class="violation">
                            Совершение мошеннических действий [необходима переписка в чате игры]
                        </div>
                        <div class="sanction">
                            Блокировка учетной записи от 7 суток до бессрочной, изъятие игровых ценностей, участвующих в сделке.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">4.2</div>
                        <div class="violation">
                            Обман Администрации
                        </div>
                        <div class="sanction">
                            Блокировка учетной записи от 1 до 7 суток.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">4.3</div>
                        <div class="violation">
                            Совершение сделок по покупке/продаже игровых ценностей за неигровую валюту
                        </div>
                        <div class="sanction">
                            Блокировка всех учетных записей, на которые заходил пользователь, от 3 суток.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">4.4</div>
                        <div class="violation">
                            Иные действия сомнительного характера
                        </div>
                        <div class="sanction">
                            Определяется Администрацией.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">4.5</div>
                        <div class="violation">
                            Использование твинкового (дополнительного) персонажа на локации с целью получения дополнительного игрового преимущества: получение дополнительных эффектов (бафы, тотемы), получение дополнительного обзора на подходы к локации, обзор на точки воскрешения боссов (в том числе на острове Акра), перекрытие подхода к камням крепости/контрольной точки, регулярное применение негативных эффектов к другим игрокам или иные действия, позволяющее получить преимущество (последнее рассматривается Администрацией и может быть внесено в пункт правил).
                        </div>
                        <div class="sanction">
                            Блокировка учетной записи твинкового персонажа сроком не менее 3 суток.
                            Блокировка учетной записи основного персонажа сроком не менее 24 часов.
                        </div>
                    </div>
                </div>

                <div class="rules_type">
                    <h2 class="type_of_rules">5. Прецеденты</h2>
                    <div class="rule_naming">
                        <div class="naming violation">
                            Нарушение
                        </div>
                        <div class="naming sanction">
                            Наказание
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">5.1</div>
                        <div class="violation">
                            Использование особенностей моделей (текстурных багов) препятствующих нормальному игровому процессу.
                        </div>
                        <div class="sanction">
                            Блокировка учетной записи от 1 суток до бессрочной.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">5.2</div>
                        <div class="violation">
                            Преднамеренное выставление в торговую лавку/передача в обмен предметов при искажении информации об усилении предмета с целью получения выгоды (рассматривается индивидуально Администрацией)
                        </div>
                        <div class="sanction">
                            Блокировка учетной записи от 1 суток до бессрочной.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">5.3</div>
                        <div class="violation">
                            Использование значка другой гильдии - такого же или не имеющего явных отличий с целью введения в заблуждение других игроков.
                        </div>
                        <div class="sanction">
                            Блокировка учетной записи главы гильдии на срок не менее 24 часов.
                        </div>
                    </div>
                </div>
            </div>
            <div class="stub"></div>
        </div>

        <!--    rules-->
        <!--    rules-->
        <!--    rules-->
    </div>

<!--    <script>-->
<!--window.addEventListener('wheel', function(event) {-->
<!--    if (event.ctrlKey) {-->
<!--        event.preventDefault();-->
<!--    }-->
<!--}, { passive: false });-->
<!--	</script>-->

{% if error_message %}
    <script>
        alert('{{ error_message }}');
    </script>
{% endif %}



<footer class="footer">
    <div class="socialsBlock">
        <a href="https://discord.com/">
            <div class="socialElement linkDs"></div>
        </a>
        <a href="https://vk.com/">
            <div class="socialElement linkVk"></div>
        </a>
        <a href="https://t.me/">
            <div class="socialElement linkTg"></div>
        </a>
    </div>
    <a class="privacy" href="/legal">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</a>
</footer>
    {% else %}

    <div class="backgroundIndex" style="background-image: url(/static/image/main.jpg);">
        <div class="preloadHover"></div>
        <div class="header">
            <div class="headerMenu">
                <div class="headerMenuBlock">
                    <div class="headerMenuBlockLeft">
                        <div class="headerMenuBlockLeftElement">
                            <a href="/" class="headerMenuBlockLeftElementText">ГЛАВНАЯ</a>
                        </div>
                        <div class="headerMenuBlockLeftElement">
                            <a href="/news" class="headerMenuBlockLeftElementText">НОВОСТИ</a>
                        </div>
                        <div class="headerMenuBlockLeftElement">
                            <a href="/rules" class="headerMenuBlockLeftElementText">ПРАВИЛА</a>
                        </div>
                        <div class="headerMenuBlockLeftElement">
                            <a href="/support" class="headerMenuBlockLeftElementText">ПОДДЕРЖКА</a>
                        </div>
                    </div>

                    <div class="headerMenuBlockRight">
    <a href="/login" class="headerMenuBlockLeftElementText">
        <div class="widthHide">ВОЙТИ</div>
    </a>
    <a href="/registration" class="headerMenuBlockLeftElementText">
        <div>РЕГИСТРАЦИЯ</div>
    </a>
</div>
                </div>
                <div class="headerMenuBottomLine customHr"></div>
            </div>
        </div>
<!--    rules-->
<!--    rules-->
<!--    rules-->

        <div class="rulesContainer">
            <h1>ПРАВИЛА</h1>
            <div class="rules">
                <div class="rules_type">
                    <h2 class="type_of_rules">1. Нарушения в чате</h2>
                    <div class="rule_naming">
                        <div class="naming violation">
                            Нарушение
                        </div>
                        <div class="naming sanction">
                            Наказание
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">1.1</div>
                        <div class="violation">
                            Использование ненормативной лексики, оскорблений, а так же текста сомнительного характера в сообщениях на усмотрение Администрации [С момента сообщений до обращения в поддержку не должно пройти более 12 часов]
                        </div>
                        <div class="sanction">
                            Блокировка отправки сообщений в игровой чат по градации количества нарушений: 2ч, 4ч, 8ч, 12ч, 24ч, 72ч, 168ч, 336ч, 720ч, 2160ч, 4320ч.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">1.2</div>
                        <div class="violation">
                            Частая отправка однообразных сообщений в чат (спам)
                        </div>
                        <div class="sanction">
                            Блокировка отправки сообщений в игровой чат сроком не менее 2 часов.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">1.3</div>
                        <div class="violation">
                            Оскорбление Администрации
                        </div>
                        <div class="sanction">
                            Блокировка отправки сообщений в игровой чат сроком не менее 12 часов, либо блокировка учетной записи до 30 суток.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">1.4</div>
                        <div class="violation">
                            Распространение информации о причастности к Администрации
                        </div>
                        <div class="sanction">
                            Блокировка учетной записи от 3 суток.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">1.5</div>
                        <div class="violation">
                            Распространение информации о стороннем ПО
                        </div>
                        <div class="sanction">
                            Блокировка учетной записи от 30 суток.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">1.6</div>
                        <div class="violation">
                            Распространение информации о покупке/продаже игровых ценностей за неигровые средства (в том числе крупы, украшения и т.д.)
                        </div>
                        <div class="sanction">
                            Блокировка отправки сообщений в игровой чат сроком не менее 24 часов.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">1.7</div>
                        <div class="violation">
                            Отправка сообщений в чат содержащих призыв покинуть проект или дескредитирующие концепцию сервера
                        </div>
                        <div class="sanction">
                            Блокировка отправки сообщений в игровой чат сроком не менее 30 суток.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">1.8</div>
                        <div class="violation">
                            Распространение информации о покупке/продаже персонажей, учетных записей (аккаунтов)
                        </div>
                        <div class="sanction">
                            Блокировка отправки сообщений в игровой чат сроком не менее 24 часов. [Может быть применено ко всем аккаунтам пользователя]
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">1.9</div>
                        <div class="violation">
                            Распространение информации о способах совершения нарушения игровых правил.
                        </div>
                        <div class="sanction">
                            Блокировка учетной записи сроком не менее 7 суток.
                        </div>
                    </div>
                </div>

                <div class="rules_type">
                    <h2 class="type_of_rules">2. Нарушения в никнейме/названии гильдии</h2>
                    <div class="rule_naming">
                        <div class="naming violation">
                            Нарушение
                        </div>
                        <div class="naming sanction">
                            Наказание
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">2.1</div>
                        <div class="violation">
                            Выдача себя за представителя Администрации
                        </div>
                        <div class="sanction">
                            Блокировка учетной записи от 30 суток в случае постоянных нарушений. Переименование персонажа на усмотрение Администрации.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">2.2</div>
                        <div class="violation">
                            Использование ненормативной лексики/оскорбления другого игрока в игровом никнейме
                        </div>
                        <div class="sanction">
                            Переименование персонажа на усмотрение Администрации.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">2.3</div>
                        <div class="violation">
                            Использование ненормативной лексики/оскорбления другого игрока в названии гильдии
                        </div>
                        <div class="sanction">
                            Переименование гильдии на усмотрение Администрации. Блокировка главы гильдии сроком до 3 суток при повторном нарушении.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">2.4</div>
                        <div class="violation">
                            Использование никнейма схожего с никнеймом другого игрока
                        </div>
                        <div class="sanction">
                            Переименование персонажа на усмотрение Администрации, а так же блокировка учетной записи до 30 суток.
                        </div>
                    </div>
                </div>

                <div class="rules_type">
                    <h2 class="type_of_rules">3. Использование ошибок игры и стороннего ПО</h2>
                    <div class="rule_naming">
                        <div class="naming violation">
                            Нарушение
                        </div>
                        <div class="naming sanction">
                            Наказание
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">3.1</div>
                        <div class="violation">
                            Использование игровых уязвимостей / ошибок игры
                        </div>
                        <div class="sanction">
                            Блокировка учетной записи от 7 суток до бессрочной.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">3.2</div>
                        <div class="violation">
                            Использование стороннего ПО, эмулирующее присутствие персонажа
                        </div>
                        <div class="sanction">
                            Бессрочная блокировка учетной записи.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">3.3</div>
                        <div class="violation">
                            Использование механических воздействий на элементы ПК с целью эмуляции присутствия персонажа
                        </div>
                        <div class="sanction">
                            Блокировка учетной записи от 7 суток до бессрочной.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">3.4</div>
                        <div class="violation">
                            Совершение действий, повлекших за собой сбой в работе игрового сервера или воздействующее на его стабильность
                        </div>
                        <div class="sanction">
                            Бессрочная блокировка учетной записи.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">3.5</div>
                        <div class="violation">
                            Замена данных, поступающих от сервера на клиент и обратно
                        </div>
                        <div class="sanction">
                            Блокировка учетной записи от 7 суток до бессрочной.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">3.6</div>
                        <div class="violation">
                            Модификация файлов игры (в том числе замена игровых моделей, звуков и т.д.)
                        </div>
                        <div class="sanction">
                            Блокировка учетной записи от 7 суток до бессрочной.
                        </div>
                    </div>
                </div>

                <div class="rules_type">
                    <h2 class="type_of_rules">4. Иное</h2>
                    <div class="rule_naming">
                        <div class="naming violation">
                            Нарушение
                        </div>
                        <div class="naming sanction">
                            Наказание
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">4.1</div>
                        <div class="violation">
                            Совершение мошеннических действий [необходима переписка в чате игры]
                        </div>
                        <div class="sanction">
                            Блокировка учетной записи от 7 суток до бессрочной, изъятие игровых ценностей, участвующих в сделке.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">4.2</div>
                        <div class="violation">
                            Обман Администрации
                        </div>
                        <div class="sanction">
                            Блокировка учетной записи от 1 до 7 суток.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">4.3</div>
                        <div class="violation">
                            Совершение сделок по покупке/продаже игровых ценностей за неигровую валюту
                        </div>
                        <div class="sanction">
                            Блокировка всех учетных записей, на которые заходил пользователь, от 3 суток.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">4.4</div>
                        <div class="violation">
                            Иные действия сомнительного характера
                        </div>
                        <div class="sanction">
                            Определяется Администрацией.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">4.5</div>
                        <div class="violation">
                            Использование твинкового (дополнительного) персонажа на локации с целью получения дополнительного игрового преимущества: получение дополнительных эффектов (бафы, тотемы), получение дополнительного обзора на подходы к локации, обзор на точки воскрешения боссов (в том числе на острове Акра), перекрытие подхода к камням крепости/контрольной точки, регулярное применение негативных эффектов к другим игрокам или иные действия, позволяющее получить преимущество (последнее рассматривается Администрацией и может быть внесено в пункт правил).
                        </div>
                        <div class="sanction">
                            Блокировка учетной записи твинкового персонажа сроком не менее 3 суток.
                            Блокировка учетной записи основного персонажа сроком не менее 24 часов.
                        </div>
                    </div>
                </div>

                <div class="rules_type">
                    <h2 class="type_of_rules">5. Прецеденты</h2>
                    <div class="rule_naming">
                        <div class="naming violation">
                            Нарушение
                        </div>
                        <div class="naming sanction">
                            Наказание
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">5.1</div>
                        <div class="violation">
                            Использование особенностей моделей (текстурных багов) препятствующих нормальному игровому процессу.
                        </div>
                        <div class="sanction">
                            Блокировка учетной записи от 1 суток до бессрочной.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">5.2</div>
                        <div class="violation">
                            Преднамеренное выставление в торговую лавку/передача в обмен предметов при искажении информации об усилении предмета с целью получения выгоды (рассматривается индивидуально Администрацией)
                        </div>
                        <div class="sanction">
                            Блокировка учетной записи от 1 суток до бессрочной.
                        </div>
                    </div>
                    <div class="rule">
                        <div class="rule_number">5.3</div>
                        <div class="violation">
                            Использование значка другой гильдии - такого же или не имеющего явных отличий с целью введения в заблуждение других игроков.
                        </div>
                        <div class="sanction">
                            Блокировка учетной записи главы гильдии на срок не менее 24 часов.
                        </div>
                    </div>
                </div>
            </div>
            <div class="stub"></div>
        </div>

        <!--    rules-->
        <!--    rules-->
        <!--    rules-->

    </div>

<!--window.addEventListener('wheel', function(event) {-->
<!--    if (event.ctrlKey) {-->
<!--        event.preventDefault();-->
<!--    }-->
<!--}, { passive: false });-->

    <script>

	</script>

{% if error_message %}
    <script>
        alert('{{ error_message }}');
    </script>
{% endif %}



<footer class="footer">
    <div class="socialsBlock">
        <a href="https://discord.com/">
            <div class="socialElement linkDs"></div>
        </a>
        <a href="https://vk.com/">
            <div class="socialElement linkVk"></div>
        </a>
        <a href="https://t.me/">
            <div class="socialElement linkTg"></div>
        </a>
    </div>
    <a class="privacy" href="/legal">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</a>
</footer>
    {% endif %}

</body>
</html>
